mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background-color: cornflowerblue;
    background: linear-gradient(207.8deg, #201E1C 30%, #4947d4 70%);
    color: white;
} 


  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }


  .degradado-texto {
    color: transparent;
    background: linear-gradient(to right, #1073BA 0%, #00DA55 100% );
    -webkit-background-clip: text;
    background-clip: text;
}


