.container-button{
   color: #fff;
    margin: 0.5rem;
    position: sticky;
    top: 28px;
    z-index: 1000;
    
}


.peliculas-contenedor{
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 }
 
 .pelicula-contenedor{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
    
    
 } 
 
 
 
 
 button {
    margin-left: 2px;
 }
 
 a {
    text-decoration: none;
 }
  
 .button-cat:hover {
   transform: scale(1.2);
   background-size: 40rem;
}