<div class="container-button" >
    <button class="button-cat" mat-button  color="warn"  (click)="getFiltroGenero('action')"  >Acción</button>
    <button class="button-cat" mat-button color="warn" (click)="getFiltroGenero('Animation')">Animación</button>
    <button class="button-cat" mat-button color="warn" (click)="getFiltroGenero('Horror')">Terror</button>
    <button class="button-cat" mat-button color="warn" (click)="getFiltroGenero('Comedy')">Comedia</button>
</div>

<ng-container >
    <div class="peliculas-contenedor">
      @for (pelicula of arrayMovies; track $index) {
      <mat-card class="pelicula-contenedor" >
        <img loading="lazy" [src]="pelicula.poster_path" width="300" height="400" />     
      </mat-card>
      }
    </div>
  </ng-container>

